@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  display: flex;
  flex-direction: column;
 
  min-height: 100vh
}

.form-container {
  display: flex;
  flex-direction: column;
}